<div class="container">
  <form>
    <h1 class="title">Upload images</h1>
    <a class="button-upload">
      <fa [name]="'folder-open'" [size]="4"></fa>
      <input type="file" (change)="getFiles($event)" multiple/>
    </a>
    <div class="controls">
      <button class="button danger" (click)="clearFiles()" [disabled]="isFileListEmpty()">Clear</button>
      <button class="button" (click)="uploadFiles()" [disabled]="isFileListEmpty()">Upload</button>
    </div>

    <mat-chip-list>
      <div class="image-box" [ngClass]="{'done':isFileUploaded(i)}"
        *ngFor="let file of files; let i = index">
        <mat-chip>
          <span>{{ file.name | limit : 30 }}</span>
          <a class="image-remove" (click)="removeFile(i)">
            <fa [name]="'times'" [size]="1"></fa>
          </a>
        </mat-chip>
      </div>
    </mat-chip-list>
  </form>
</div>