@import "../../scss/colors";

.text-huge {
  font-size: 8em;
  text-align: center;
  color: $color-initial;
  margin-top: 100px;
}

.text-large {
  font-size: 5em;
  text-align: center;
  color: $color-secondary;
  margin-top: 20px;
}