<div class="navbar" [ngClass]="{'darkbar': isLoggedIn()}">
  <div *ngIf="isLoggedIn()">
    <a routerLink="home" class="home-control">
      <fa [name]="'home'" [size]="2"></fa>
      Kero
    </a>
    <a routerLink="dashboard" class="home-control">
      <fa [name]="'cogs'" [size]="2"></fa>
      Dashboard
    </a>
    <a routerLink="user" class="user-control">
      <img class="profile-picture" [src]="user?.picture" /> {{user?.nickname}}
    </a>
    <a (click)="logOut()" class="logout-control">
      <fa [name]="'sign-out'"></fa>
    </a>
  </div>
  <div *ngIf="!isLoggedIn()">
    <a (click)="openDialog()">
      <fa class="shadow-text" [name]="'sign-in'" [size]="2"></fa>
    </a>
  </div>
</div>