<div class="modal-container">
  <form (submit)="login()">
    <h1 class="title">Log in</h1>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="username" placeholder="Username" name="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" [(ngModel)]="password" placeholder="Password" name="password">
    </mat-form-field>

    <p>No account?
      <a (click)="openRegister()">Register</a>
    </p>
    <button type="submit">Log in</button>
  </form>
</div>