@import "../../scss/colors";
@import "../../scss/mixins";
@import "../../scss/boxing";

$imagebox-size: 15em;

h1 {
  margin: 0px;
  color: $color-secondary;
  font-weight: bold;
  font-size: 1.5em;
}

h5 {
  font-weight: bold;
  color: $color-primary;
}

.event-edit {
  text-shadow: 1px 1px 5px black;
  margin: 0px;
  padding: 0px;
  position: relative;
  float: right;
}

.outer-container {
  @include flex_container();
  margin: 1em;
  padding-bottom: 5em;
}

.details-container {
  @include darken_style();
  @include box_shadow(7px, 1px, black);
  margin: 1em;
  padding: 1em;
  width: 100%;
}

.description {
  word-wrap:break-word;
  width: 80%;
}

.container {
  @include darken_style();
  @include box_shadow(7px, 1px, black);
  margin: 1em;
  padding: 0.2em;
  width: $imagebox-size;
  height: $imagebox-size;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    background-color: darken($color-secondary, 18%);
  }
  &:active {
    background-color: darken($color-secondary, 15%);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.padder {
  width: $imagebox-size;
  margin: 1em;
  padding: 0.2em;
}