@import "../../scss/colors";
@import "../../scss/mixins";

$preview-size: 15em;

h1 {
  margin: 0px;
  color: $color-secondary;
  font-weight: bold;
  font-size: 1.5em;
}

h5 {
  font-weight: bold;
  color: $color-primary;
}

.event-edit {
  text-shadow: 1px 1px 5px black;
  margin: 2px;
  padding: 0px;
  position: relative;
  float: right;
}

.event-delete {
  text-shadow: 1px 1px 5px black;
  margin-right: 10px;
  padding: 0px;
  position: relative;
  float: right;
}

.image-add {
  text-shadow: 1px 1px 5px black;
  margin: 2px;
  padding: 0px;
  position: relative;
  float: right;
  vertical-align: bottom;
  .underlay {
    display:inline;
    position: relative;
    right: -1.1em;
    top: 0.9em;
  }
}

.outer-container {
  @include flex_container();
  margin: 1em;
  padding-bottom: 5em;
}

.details-container {
  @include darken_style();
  @include box_shadow(7px, 1px, black);
  margin: 1em;
  padding: 1em;
  width: 100%;
}

.description {
  word-wrap:break-word;
  width: 80%;
}

.preview-container {
  @include darken_style();
  @include box_shadow(7px, 1px, black);
  margin: 0px;
  padding: 0px;
  margin: 0.5em;
  padding: 0.2em;
  cursor: pointer;
  height: $preview-size + 0.5em;
  
  &:hover {
    background-color: darken($color-secondary, 18%);
  }
  &:active {
    background-color: darken($color-secondary, 15%);
  }

  img {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: $preview-size;
  }

  .loader {
    margin: 0px;
    padding: 0px;
    width: $preview-size;
    height: $preview-size;

    display: flex;
    justify-content:center;
    align-items:center;
  }
}

.author-box {
  @include darken_style();
  display: inline;
  padding: 11px 15px 8px 4px;
  border-radius: 23px;
  cursor: pointer;

  h5 {
    display: inline;
    margin-left: 5px;
  }
  .author-picture {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    border-radius: 50%;
    margin: 0px;
  }

  &:hover {
    background-color: rgba(darken($color-secondary, 25%),0.5);
  }
  &:active {
    background-color: rgba(darken($color-secondary, 27%),0.5);
  }
}