<div class="outer-container">
  <div class="details-container" *ngIf="event">
    <a (click)="openEdit()" class="event-edit" *ngIf="isMember()">
      <fa [name]="'edit'" [size]="2"></fa>
    </a>
    <a (click)="openDelete()" class="event-delete danger" *ngIf="isMember()">
      <fa [name]="'trash'" [size]="2"></fa>
    </a>
    <h1>{{event?.title}}</h1>
    <h5>{{event?.date | date:'yyyy.MM.dd'}}</h5>
    <div class="description">
      <p>{{event?.description}}</p>
    </div>

    <a [routerLink]="['/upload', event.id]" class="image-add" *ngIf="isMember()">
      <fa [name]="'plus'" [size]="2" class="underlay"></fa>
      <fa [name]="'image'" [size]="2"></fa>
    </a>
  </div>
  <div class="preview-container" *ngFor="let preview of imagePreviews; let i = index"
    (click)="viewImage(i)">
    <img [src]="getPreview(i)" (load)="loaded(i)" [hidden]="!isLoaded(i)" />
    <div class="loader" *ngIf="!isLoaded(i)">
      <fa [name]="'image'" [size]="3"></fa>
    </div>
  </div>
</div>