<div class="container">
  <div class="row">
    <a (click)="openInvite()" class="user-invite">
      <fa [name]="'user-plus'" [size]="3"></fa>
      <h1>Invtie</h1>
    </a>
  </div>
  <table>
    <tr class="table-header">
      <th class="image-cell"></th>
      <th>Nickname</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>
        <img class="profile-picture" [src]="user?.picture">
      </td>
      <td>{{user?.nickname}}</td>
      <td>{{user?.email}}</td>
      <td>
        <mat-form-field class="role-cell">
          <mat-select [(ngModel)]="user.role" (change)="update(user)">
            <mat-option *ngFor="let role of roles; let i = index" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <a (click)="openDelete(user)" class="user-delete danger">
          <fa [name]="'ban'" [size]="2"></fa>
        </a>
      </td>
    </tr>
  </table>
</div>