@import "./scss/colors";
@import "./scss/material";
@import "./scss/mixins";
@import "../node_modules/milligram/src/milligram";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0;
  @include unselectable();
  font-family: 'Raleway', cursive;
  color: $color-initial;
}

button[type='submit'] {
  @include double_shadow(30px, 5px, black, 5px, 1px, black);
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
  &:active {
    background-color: lighten($color-secondary, 10%);
    border-color: lighten($color-secondary, 10%);
  }
}

button[type='submit'] {
  float:right;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea, select{
  border: none;
  color: $color-secondary;
}

.mat-dialog-container {
  background-color: transparent;
  padding: 0px !important;
}

a {
  color: $color-secondary;
  font-weight: bold;
  font-family: 'Raleway', cursive;

	&:hover {
    color: lighten($color-secondary, 10%);
    cursor: pointer;
  }

  &:active {
    color: darken($color-secondary, 5%);
  }
}

th {
  border-bottom: none;
}

img {
  pointer-events: none;
}

.danger {
  color: $color-tertiary;
}

a.danger {
  color: $color-tertiary;

  &:hover {
    color: lighten($color-tertiary, 10%);
  }

  &:active {
    color: darken($color-tertiary, 5%);
  }
}

