// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #eff9f0 !default;
$color-primary: #424342 !default;
$color-secondary: #27695c !default;
$color-tertiary: #f0a202 !default;
$color-quaternary: #230903 !default;
$color-quinary: #f00 !default;

$color-dark: #111;