@import "colors";

@mixin box_shadow($blur, $spread, $color) {
  -webkit-box-shadow: 0px 0px $blur $spread rgba($color,.8);
  -moz-box-shadow: 0px 0px $blur $spread rgba($color,.8);
  box-shadow: 0px 0px $blur $spread rgba($color,.8);
}

@mixin double_shadow($blur, $spread, $color, $blur2, $spread2, $color2) {
  -webkit-box-shadow: inset 0px 0px $blur $spread rgba($color,.8), 0px 0px $blur2 $spread2 rgba($color2,.8);
  -moz-box-shadow: inset 0px 0px $blur $spread rgba($color,.8), 0px 0px $blur2 $spread2 rgba($color2,.8);
  box-shadow: inset 0px 0px $blur $spread rgba($color,.8), 0px 0px $blur2 $spread2 rgba($color2,.8);
}

@mixin unselectable() {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin darkenStyle() {
  background-color: rgba($color: $color-dark, $alpha: .8);
  border-style: solid;
  border-color: rgba($color: $color-primary, $alpha: .8);
  border-width: 1px;
}