@import "colors";

@mixin box_shadow($blur, $spread, $color) {
  -webkit-box-shadow: 0px 0px $blur $spread $color;
  -moz-box-shadow: 0px 0px $blur $spread $color;
  box-shadow: 0px 0px $blur $spread $color;
}

@mixin double_shadow($blur, $spread, $color, $blur2, $spread2, $color2) {
  -webkit-box-shadow: inset 0px 0px $blur $spread $color, 0px 0px $blur2 $spread2 $color2;
  -moz-box-shadow: inset 0px 0px $blur $spread $color, 0px 0px $blur2 $spread2 $color2;
  box-shadow: inset 0px 0px $blur $spread $color, 0px 0px $blur2 $spread2 $color2;
}

@mixin unselectable() {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin darken_style() {
  background-color: rgba($color-dark, 0.8);
  border-style: solid;
  border-color: rgba($color-primary, 0.8);
  border-width: 1px;
}

@mixin flex_container() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

@mixin appear($duration, $delay) {
  animation: appear $duration forwards;
  animation-delay: $delay;
}

@mixin dissapear($duration, $delay) {
  animation: dissapear $duration forwards;
  animation-delay: $delay;
}

@keyframes appear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes dissapear {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}