@import "../../scss/colors";
@import "../../scss/mixins";

$logo-drop-color: rgba($color-dark, 0.92);

.promo-container {
  position: relative;
  padding: 100px;
  width: auto;
  height: 100vh;
  background-image: url("/assets/img/homescreen.jpg");
  background-size: cover;
}

.motto-container {
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 2s;
  margin-top: 5%;
  display: inline-block;
  background-color: $logo-drop-color;
  @include box_shadow(22vw, 25vw, $logo-drop-color);
  h1 {
    opacity: 0;
    animation: appear 2s forwards;
    animation-delay: 3.5s;
  }
  h2 {
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 4s;
    font-size: 3em;
    font-weight: bold;
    display: inline;
    padding: 0.1em;
  }
  .meet {
    color: $color-secondary;
  }
  .share {
    color: $color-quaternary;
  }
  .build {
    color: $color-tertiary;
  }
  .logo {
    opacity: 0;
    animation: appear 2s forwards;
    animation-delay: 3.5s;
    width: 20vw;
    height: auto;
    margin-right: 5%;
  }
  .down-arrow {
    opacity: 0;
    animation: appear 3s forwards, bounce 2s infinite;
    animation-delay: 8s, 8s;
    position: absolute;
    bottom: 1em;
    left: calc(50vw - 2em);
  }
}

@keyframes bounce {
  0%   {bottom: 1em;}
  50%   {bottom: 2em;}
  100% {bottom: 1em;}
}

.meet-container {
  background-color: rgba(darken($color-secondary, 10%), 0.8);
}

.share-container {
  background-color: rgba($color-quaternary, 0.8);
}

.build-container {
  background-color: rgba(darken($color-tertiary, 10%), 0.8);
}

.presenting-page {
  h1 {
    margin-top: 16vh;
    opacity: 0;
  }
  .container {
    opacity: 0;
  }
}

.scroller {
  width: calc(100vw + 26px);
  height: 100vh;
  overflow: auto;
}

.page {
  h1 {
    font-size: 8em;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
  }
  text-align: center;
  vertical-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.no-scroll {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
}

.fade-title {
  @include appear(1s, 0.2s);
}

.fade-text {
  @include appear(0.8s, 0.4s);
}