@import "../../scss/colors";
@import "../../scss/mixins";

.container {
  padding: 40px;
  .title {
    font-size: 4em;
    font-weight: 900;
    padding-left: 0px;
    margin-bottom: 60px;
    font-family: 'Indie Flower', cursive;
  }
  mat-form-field {
    width: 100%;
  }
  button[type='submit'] {
    margin-top: 30px;
  }
}

@media all and (max-width: 768px) {
  .outer-container {
    height: 50rem;
    overflow: hidden;
  }

  .modal-container {
    width: calc(30rem);
    height: calc(100%);
    overflow: auto;
  }
}

input[readonly]
{
    color:$color-initial;
}

.button {
  margin-top: 30px;
  float: right;
  margin-right: 1em;
}